.NavigationPuzzles{
    width: 100%;
    position: fixed;
    padding:0 20px;
    box-sizing: border-box;
    opacity:1;
    bottom: 3%;
    list-style-type: none;
    opacity: 0;
}
.NavigationPuzzles.Show{
    opacity: 1;
    transition: opacity 1s ease-in;
}

.NavigationPuzzles_info{
    display: block;
    margin:2.2em auto 0;
    box-sizing: border-box;
    color:#646464;
    font-size: 1em;
}

