.NavigationPuzzles{
    width: 100%;
    position: fixed;
    bottom:5%;
    padding:0 20px;
    box-sizing: border-box;
    opacity:0;
}
.NavigationPuzzles.Show{
    opacity: 1;
    transition: opacity 1s ease-in;
}

.NavigationPuzzles h4{
    display: block;
    margin:10px auto 0;
    color:#646464;
    font-size: 0.8em;
}