.MainPuzzle{
    position: fixed;
    top:46%;
    left:calc(50% - 0.5em);
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.Full{fill:#000;}
.st2{fill:none;stroke:#000000;stroke-width:3;stroke-miterlimit:10;stroke-dasharray:11.8679,11.8679;}
.st3{fill:none;stroke:#000000;stroke-width:3;stroke-miterlimit:10;stroke-dasharray:11.9038,11.9038;}
.st4{fill:none;stroke:#000000;stroke-width:3;stroke-miterlimit:10;stroke-dasharray:11.9227,11.9227;}
.st5{fill:none;stroke:#000000;stroke-width:3;stroke-miterlimit:10;stroke-dasharray:11.9008,11.9008;}
.StrokeDash{fill:#ffffff;transition: 0.5s ease-in;}

.MainPuzzle .RedLight{fill:#fda6ac;}
.YellowLight{fill:#fceeb0;}
.Light-blueLight{fill:#acf2fb;}
.Dark-blueLight{fill:#96dcfc;}

.MainPuzzle .DropNav{
    position: absolute;
    top: -45%;
    left: 38%;
    opacity: 1;
    transition: opacity 0.5s ease-in;
}

.MainPuzzle .DropTxt{
    margin-bottom: 0.3em;
    text-transform: uppercase;
}

.MainPuzzle .DropNav svg{
    width: 7px;
    animation: pointsTo 1s infinite;
}

@keyframes pointsTo {
    0%{ transform: translateY(2px);}
    50%{ transform: translateY(10px);}
}

 .MainPuzzle .PuzzlePiece{
    height:7em;
    width:7em;
    cursor: pointer;
}

.MainPuzzle .Menu{
    font-family: Tinos-Italic;
    text-transform: uppercase;
    margin-top:0.7em;
    margin-left:2.1em;
    font-size: 1em;
    letter-spacing: 0.6em;
    opacity: 1;
    transition: opacity 0.3s ease-in;
}

.MainPuzzle .Hide{
    opacity: 0;
}

@keyframes click-wave {
    0% {
      height: 40px;
      width: 40px;
      opacity: 0.35;
      position: relative;
    }
    100% {
      height: 200px;
      width: 200px;
      margin-left: -80px;
      margin-top: -80px;
      opacity: 0;
    }
  }
