.NavigationPuzzles{
    width: 100%;
    position: fixed;
    padding:0 20px;
    box-sizing: border-box;
    opacity:1;
    bottom: 3%;
    list-style-type: none;
}
.NavigationPuzzles.Show{
    opacity: 1;
    transition: opacity 1s ease-in;
}

.NavigationPuzzles h4{
    display: block;
    margin:1.7em auto 0;
    color:#646464;
    font-size: 0.8em;
}