.MainPuzzle{
    position: fixed;
    top:50%;
    left:calc(50% - 1em);
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.MainPuzzle .PuzzlePiece{
    height:7em;
    width:7em;
    background:url('../../../../assets/images/fullMainPuzzle.svg') no-repeat;
    cursor: pointer;
}

.MainPuzzle .PuzzlePiece.Clicked{
    background:url('../../../../assets/images/stippleMainPuzzle.svg') no-repeat;
    transition: all 1s ease;
}

.MainPuzzle .Arrow{
    background:url('../../../../assets/images/arrow.svg') no-repeat;
    height:4em;
    width:2.2em;
    margin-top:-1.5em;
    margin-left:3.1em;
}

.MainPuzzle .Menu{
    margin:0px 0 0 20px;
    text-transform: uppercase;
}

