html{
  overflow:hidden;
}
body {
  min-height: 100%;
  position: fixed;
  overflow-y: auto;
  margin: 0;
  font-family: Tinos-Regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p,h1,h2,h3,h4 {
  padding:0;
  margin:0;
  color:#252423;
  font-weight: normal;
}

div{
  -webkit-tap-highlight-color: transparent;
}

.Red{fill:#FE2635;background-color: #FE2635;}
.Yellow{fill:#FED000;background-color: #FED000;}
.Light-blue{fill:#00CDE8;background-color: #00CDE8;}
.Dark-blue{fill:#03A9F5;background-color: #03A9F5;}



